@import "tailwindcss";
@import "../styles/tokens.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Paleta custom */
  --color-surface-1: #020617; /* más oscuro */
  --color-surface-2: #111827; /* slate-900 */
  --color-surface-3: #1f2937; /* gray-800 */
  
  --color-brand-red: #ff4d63;
  --color-brand-red-strong: #ff3d53;
  --color-brand-red-soft: #ff5a6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
